table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    text-align: left;
    padding: 8px;
    border-color: #d3d3d3;
    border-style: solid;
    border-width: thin;
}
.table{
  margin-top: 4%;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
}


tr:nth-child(even){background-color: #f2f2f2}
